{erl_opts, [ {parse_transform, lager_transform}, warnings_as_errors ]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {elock, {git, "https://github.com/vzroman/elock.git", {tag, "v0.1.0"}}},
    {esubscribe, {git, "https://github.com/vzroman/esubscribe.git", {tag, "v0.1.0"}}},
    {eroaring, {git, "https://github.com/vzroman/eroaring.git", {tag, "v0.1.0"}}},
    {zaya, {git, "https://github.com/vzroman/zaya.git", {tag, "v0.1.0"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.8.0"}}},
    {erlware_commons, {git, "https://github.com/erlware/erlware_commons.git", {branch, "master"}}},
    {cowboy, {git, "https://github.com/vzroman/cowboy.git", {tag, "2.10.0"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [ecomet]}
]}.

{profiles, [
    {test, [
        {erl_opts, [{export_all}]},
        {deps, [
            {meck, "", {git, "https://github.com/eproxus/meck.git", {branch, master}}},
            {ctdh, "", {git, "https://github.com/egobrain/ctdh.git", {branch, master}}}
        ]}
    ]}
]}.