{erl_opts, [ {parse_transform, lager_transform}, warnings_as_errors ]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}},
    {dlss, {git,"https://github.com/vzroman/dlss.git",{branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [ecomet]}
]}.
