{erl_opts, [ {parse_transform, lager_transform}, warnings_as_errors ]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}},
    {dlss, {git,"https://github.com/vzroman/dlss.git",{tag, "0.0.1"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [dlss]}
]}.