[
	{ecomet, [
    {schema_server_cycle,5000},
    {stop_timeout,60000},
    {supervisor_max_restarts,10},
    {supervisor_max_period,1000},
		{disable_subscriptions, false},
		{router_pool_size, 128},
		{http,[
			{port,8000}
		]},
    {https,undefined},
		{process_memory_limit,100},
		{auth_timeout, 2000},
		{log, #{
      rocksdb => #{
        options => #{
          create_if_missing => false,
          paranoid_checks => false,
          compression => lz4,
          compaction_style => level,
          max_background_jobs => 16,
          max_background_compactions => 8,
          compaction_readahead_size => 2097152,    % 2 * 1024 * 1024
          db_write_buffer_size => 134217728,       % 128 * 1024 * 1024
          max_write_buffer_number => 4,
          min_write_buffer_number_to_merge => 2,
          target_file_size_base => 268435456,      % 256 * 1024 * 1024,
          level0_file_num_compaction_trigger => 4,
          level0_slowdown_writes_trigger => 20,
          level0_stop_writes_trigger => 36,
          max_bytes_for_level_base => 1073741824,  % 1024 * 1024 * 1024,
          max_bytes_for_level_multiplier => 8,
          block_size => 32768,                     % 32 * 1024,
          max_subcompactions => 8
        },
        read => #{
          verify_checksums => false,
          fill_cache => true
        },
        write => #{
          sync => false
        }
      }
    }}
	]}
].
