[
	{dlss, [
		{supervisor_scan_cycle,1000},
		{master_node_cycle,1000},
		{storage_supervisor_cycle,5000},
		{storage_stop_timeout,60000},
		{stop_timeout,600000},
		{start_timeout,86400000},
		{schema_start_timeout,86400000},
		{storage_max_restarts, 10},
		{storage_max_period, 1000},
		{segment_level_limit,[
			{ 0, 512 },
			{ 1, 4096 }
		]},
		{segment_split_median, 0.65},
		{force,false},
		{as_node,false},
		{on_partitioning, none},
		{segment_delay_timeout, 10000},
		{density_check_interval, none},
		{density_limit, 0.8}
	]},
	{ecomet, [
    {schema_server_cycle,5000},
    {stop_timeout,60000},
    {password,"111111"},
    {supervisor_max_restarts,10},
    {supervisor_max_period,1000},
		{router_pool_size, 128},
		{http,[
			{port,8000}
		]},
    {https,undefined},
		{process_memory_limit,100}
	]}
].
