[
	{dlss, [
		{supervisor_scan_cycle,1000},
		{master_node_cycle,1000},
		{storage_supervisor_cycle,5000},
		{storage_stop_timeout,60000},
		{stop_timeout,600000},
		{start_timeout,60000},
		{storage_max_restarts, 10},
		{storage_max_period, 1000},
		{segment_level_limit,#{
			0 => 9999999999999999999999,
			1 => 9999999999999999999999
		}},
		{segment_split_median, 0.65},
		{on_partitioning, none},
		{segment_delay_timeout, 300000}
	]},
	{ecomet, [
    {schema_server_cycle,5000},
    {stop_timeout,60000},
    {password,"111111"},
    {supervisor_max_restarts,10},
    {supervisor_max_period,1000},
		{router_pool_size, 128},
		{http,[
			{port,8000}
		]},
    {https,undefined},
		{process_memory_limit,100}
	]}
].
