[
	{ecomet, [
    {schema_server_cycle,5000},
    {stop_timeout,60000},
    {password,"111111"},
    {supervisor_max_restarts,10},
    {supervisor_max_period,1000},
		{disable_subscriptions, false},
		{router_pool_size, 128},
		{http,[
			{port,8000}
		]},
    {https,undefined},
		{process_memory_limit,100},
		{auth_timeout, 2000}
	]}
].
